<div>
  <!-- Fertigkeitswert: data.value; Schwierigkeit: data.threshold; Modifikation: data.modifier; Würfelergebnis: data.dieResult; Gesamt: data.total-->
  
  <h3>{{data.actionText}}</h3> 
  {{#if data.isOpposed}}
  <div class="chat-edge" style="display:block">
    <div>{{data.edge_message}}</div>
    {{#if data.edge_use}}
    <div style="color: var(--highlight-color)">{{data.edge_use}}</div>
    {{/if}}
  <div class="chat-edge-collapsible" style="display:none">
    <header class="part-header flexrow">
      <div>{{ localize 'shadowrun6.label.attack_rating'}}: <b>{{data.attackRating}}</b></div>
      <br/>
      <div>{{ localize 'shadowrun6.label.defense_rating'}}: <b>{{data.defRating}}</b></div>
    </header>
  </div>
  </div>
  <hr/>
   {{/if}}        
  
  <div>
    <div class="dice-result">
      <header class="part-header flexrow chat-edge-post">
        <div>{{formula}}</div>
        <br/>
        {{#if success}}
        <div class="resulttext" style="flex:2">{{ localize 'shadowrun6.roll.success'}}: <b>{{total}}</b> {{localize 'shadowrun6.roll.successes'}}</div>
        {{else}}
        <div class="resulttext" style="flex:2">{{ localize 'shadowrun6.roll.failure'}}: </b>{{total}}</b> {{localize 'shadowrun6.roll.nosuccess'}} {{data.threshold}}</div>
        {{/if}} 
        <br/>
        {{#if criticalGlitch}}
        <span style="color: rgb(215, 14, 233); flex:2">{{localize 'shadowrun6.roll.criticalglitch'}}</span><br/>
        {{else glitch}}
        <span style="color: rgb(194, 76, 29); flex:2">{{localize 'shadowrun6.roll.glitch'}}</span><br/>
        {{/if}}
      </header>
        {{{tooltip}}}
    </div>
   </div>
   
   <!-- Usage Details -->
  	{{#if data.weapon}}
   <hr/>
   <div>
     <b>{{localize 'shadowrun6.roll.damage'}}</b> {{data.damage}}{{data.damageType}}
   </div>
   {{/if}}        
  	{{#if data.matrixAction}}
   <hr/>
   <div>
     <b>{{localize 'shadowrun6.roll.damage'}}</b> To Do
   </div>
   {{/if}}        
   
   <!-- Drain -->
   {{#if (eq data.rollType "spell")}}
   <hr/>
   <div class="chat-spell">
   	<table class="spell-table">
   	    <tr>
   	    	<th>{{localize 'shadowrun6.spell.range'}}</th>
            <th>{{localize 'shadowrun6.spell.type'}}</th>
            <th>{{localize 'shadowrun6.spell.duration_short'}}</th>
            <th>{{localize 'shadowrun6.spell.drain'}}</th>
            <th>{{localize 'shadowrun6.spell.damage_short'}}</th>
   	    </tr>
   	  	<tr>
   	  		<td>{{localize (concat (concat 'shadowrun6.spell.range_' data.spell.data.data.range) "_short")}}</td>
   	  		<td>{{localize (concat (concat 'shadowrun6.spell.type_' data.spell.data.data.type) "_short")}}</td>
   	  		<td>{{localize (concat (concat 'shadowrun6.spell.duration_' data.spell.data.data.duration) "_short")}}</td>
    	  		<td>{{data.drain}}</td>
    	  		<td>{{data.damage}}</td>
   	  		<td></td>
   	  	</tr>
   	</table>
  	  <span style="color:red">Work in progress</span>
		<div class="chat-spell-collapsible" style="display:none">
   		{{data.spellDesc}}
		</div>
   </div>
   {{/if}}        
   
   <!-- Defense -->
    {{log "Defense" data}}
   {{#if data.isAllowDefensed}}
   <hr/>
   {{#if data.targets}}
     {{#each data.targets as |token id|}}
     <div>
      {{log "Token" id " = " token.data }} 
     	<button class="rollable" data-roll-type="defense" data-defend-with="{{../data.defendWith}}" data-targetid="{{token.data.actorId}}">Token {{id}}: {{token.data.name}}</button>
     </div>
     {{/each}}
   {{else}} 
     <div>
  	   <button class="rollable" data-roll-type="defense" data-defend-with="{{data.defendWith}}" data-targetid="{{data.targetId}}">{{localize 'shadowrun6.roll.defense_button'}} ({{total}})</button>
     </div>
   {{/if}}
   {{/if}}        
</div>