<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input type="text" value="{{item.name}}" name="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            <textarea class="box" type="text" name="data.description" cols="20"
                rows="6">{{data.data.description}}</textarea>
        </div>
    </section>
</form>