<!-- Edge Token -->
<div class="edge">
	<img src="systems/shadowrun6-eden/images/EdgeToken.png"
		style="border: 0px; height: auto; width: 96px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
	<input class="edge-value" type="text" data-dtype="Number" name="data.edge.value" value="{{data.data.edge.value}}"
		style="" />
	<div class="field {{id}}Changed">
		<label class="edge-max-label">{{localize 'shadowrun6.numerical.max'}}</label>
		<input class="edge-max" type="number" data-dtype="Number" name="data.edge.max" value="{{data.data.edge.max}}"
			placeholder="max" title="{{localize 'shadowrun6.label.max'}}" min="1" max="6" />
	</div>
</div>