<dt>{{ localize 'shadowrun6.actor.spells' }}</dt>
<dd>
	<!-- Spells skills -->
	{{#each actor.items as |item id|}} 
	{{#iff item.type '==' 'spell'}}
   <label class="skill-key rollable spell-roll" data-skill="{{id}}">{{item.name}}</label>
   <a class="item-control spell-roll"   data-item-id="{{item.id}}"  title="Roll"><i class="fas fa-dice-six"></i></a> ,
   {{/iff}}
   {{/each}}
</dd>