<dt>{{ localize 'shadowrun6.section.echo.title' }}</dt>
<dd>
	<!-- Spells skills -->
	{{#each actor.items as |item id|}} 
	{{#iff item.type '==' 'echo'}}
   <label class="skill-key rollable spell-roll" data-skill="{{id}}">{{item.name}}</label> ,
   {{/iff}}
   {{/each}}
</dd>