<dt>{{ localize 'shadowrun6.section.adeptpowers.title' }}</dt>
<dd>
	<!-- Powers -->
	{{#each actor.items as |item id|}} 
	{{#iff item.type '==' 'adeptpower'}}
   <label class="" data-skill="{{id}}">{{item.name}}</label>
    ,
   {{/iff}}
   {{/each}}
</dd>