   <div class="section" style="width: 58%; margin: 5px;">
	<div class="section-head">
     <h2 class="section-title">{{ localize 'shadowrun6.section.weapon.ranged' }}</h2>
	 <a class="item-control weapon-create" title="{{localize 'shadowrun6.section.weapon.add' }}"><h2 class="fas fa-plus"></h2></a>
	</div>
	  <table>
 		{{#each actor.items as |item id|}} 
		{{#if (eq item.type 'gear')}}
		{{#if (eq item.data.data.type "WEAPON_FIREARMS") }}
       <tr class="draggable item" data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
         <td><label class="middle-column important-column">{{item.data.data.dmgDef}}</label></td>
         <td><label class="middle-column" >{{attackrating item.data.data.attackRating}}</label></td>
         <td class="skill-pool" style="width: 3em">
         	<label class="item-pool" data-skill="{{item.data.data.skill}}" data-skillspec="{{item.data.data.skillSpec}}">{{item.data.data.pool}}</label>
         	<a class="item-control item-roll" data-item-id="{{this.id}}" title="{{localize (concat "skill." item.data.data.skill)}}"><i class="fas fa-dice-six"></i></a>
         </td>
			<td class="item-controls">
				<td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
         </td>
       </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.modifications' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="data.accessories" type="text" data-dtype="Text" style="width: 25em">{{item.data.data.accessories}}</textarea>
         	{{ localize 'shadowrun6.label.firemode_current' }} 
         	<select name="firemodeUsed" data-field="firemodeUsed" >
         	{{#select firemodeUsed}}
            {{#each item.data.data.modes as |available id|}}
            {{#if available}}
             <option value="{{id}}" data-item-firemode="{{id}}">{{localize (concat "shadowrun6.item.firemode." id)}}</option>
            {{/if}}
            {{/each}}
         		{{/select}}
         	</select>
			   <br/>
         	{{ localize 'shadowrun6.label.wilddie' }} <input class="centered box" type="checkbox" data-item-id="{{this.id}}" {{checked item.data.data.wild}} data-check="data.wild"     type="checkbox" data-dtype="Boolean"/><br/>
         	{{ localize 'shadowrun6.label.poolmod' }} <input class="centered box" type="text"     data-item-id="{{this.id}}" data-field="data.modifier" type="text"     value="{{item.data.data.modifier}}" data-dtype="Number" style="width: 1.5em"/>
         	</div>
         </td>
       </tr>
		{{/if}}
		{{/if}}
       {{/each}}
		<!-- Close Combat Weapons -->
       <tr><td colspan="6">
		   <div class="section-head">
		   <h2 class="section-title">{{ localize 'shadowrun6.section.weapon.close' }}</h2>
			<a class="item-control close-weapon-create" title="{{localize 'shadowrun6.section.weapon.add' }}"><h2 class="fas fa-plus"></h2></a>
		</div></td></tr>
			
 		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'gear'}}
		{{#iff item.data.data.type '==' "WEAPON_CLOSE_COMBAT"}}
       <tr class="draggable item" data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
         <td><label class="middle-column important-column">{{item.data.data.dmgDef}}</label></td>
         <td><label class="middle-column" >{{attackrating item.data.data.attackRating}}</label></td>
         <td class="skill-pool" style="width: 3em">
         	<label class="item-pool" data-skill="{{item.data.data.skill}}">{{item.data.data.pool}}</label>
         	<a class="item-control item-roll" data-skill="{{item.data.data.skill}}" data-item-id="{{this.id}}" title="{{localize (concat "skill." item.data.data.skill)}}"><i class="fas fa-dice-six"></i></a>
         </td>
			<td class="item-controls">
				<td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
         </td>
       </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.modifications' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="data.accessories" type="text" data-dtype="Text" style="width: 20em" rows="2">{{item.data.data.accessories}}</textarea>
         	{{ localize 'shadowrun6.label.wilddie' }} <input class="centered box" type="checkbox" {{checked item.data.data.wild}} data-item-id="{{this.id}}" data-check="data.wild"     type="checkbox"  data-dtype="Boolean"/><br/>
         	{{ localize 'shadowrun6.label.poolmod' }} <input class="centered box" type="text"     data-item-id="{{this.id}}" data-field="data.modifier" type="text"     value="{{item.data.data.modifier}}" data-dtype="Number" style="width: 1.5em"/>
         	</div>
         </td>
       </tr>
		{{/iff}}
		{{/iff}}
       {{/each}}
     </table> 
   </div>
